.forgpass-section{
    min-height: 100vh;
    margin:0%;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgpass-container{
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    min-height: 100px;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(0 0 0 /5%),
    0 20px 40px rgb(0 0 0 /5%),
    0 1px 4px rgb(0 0 0 /10%);
}

.forgpass-container form{
    padding-left: 20px;
}

.forgpass-container form h3{
    margin: 0%;
    font-weight: 650;
}

.forgpass-container form input{
    margin-top: 5px;
    width: 85%;
    height: 30px;
    font-size: 17px;
}

.submit-btn{
    margin:20px 5px;
    padding: 10px 5px;
    background-color: #2197f1;
    border:solid 1px #2197f1;
    color:White;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    width: 85%;
}

.forgpass-container p{
    padding-left: 20px;
    text-align: left;
    font-size: 15px;
    color: #707070;
}