.main-nav{
    min-height:50px;
    width: 100%;
    margin: 0% auto;
    border: solid 3px #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    padding: 10px 25px;
}
.nav-item{
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69,69,69);
    transition:0.2s ;
}
.nav-btn{
    cursor:pointer;
    border-radius: 20px;
    padding: 10px 20px;
}
.nav-item:hover{
    background-color: rgb(226, 226, 226);
}
.navbar form input{
    min-width: 80%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: solid 1px #0000003e;
    border-radius: 3px;
}
.navbar form{
    flex-grow: 1;
    padding: 0px 12px ;
    position: relative;
}
.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;
}
.nav-links{
    padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}
.nav-links:hover{
    background-color: #d3e4eb;
}
.dropbtn{
    background-color: transparent;
    color: rgb(69,69,69);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.lang-box{
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.langs{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.langs a{
    background-color: #707070;
    color: white;
    padding: 12px 16px ;
    text-decoration: none;
    display: block;
}

.langs a:hover{
    background-color: black;
}

.lang-box:hover .langs{
    display: block;
}

.lang-box:hover .dropbtn{
    background-color: rgb(226, 226, 226);
}